@import (reference) '../base/index.less';

// start
// 键盘背景色
@numeric-input-background: @color-divider-line;
// 键盘边框
@numeric-input-border-color: #ccc;
// 按键间隔 大屏
@numeric-input-space-md: 16 * @rpx;
// 按键间隔 小屏
@numeric-input-space-sm: 4 * @rpx;
// header 颜色
@numeric-input-header-color: @color-text-subtitle;
// header 字体大小
@numeric-input-header-size: @font-size-content;
// 按键字体大小
@numeric-input-item-size: 50 * @rpx;
// 按键高度
@numeric-input-item-height: 96 * @rpx;
// 按键字体颜色
@numeric-input-item-color: @color-text-title;
// 按键字体
@numeric-input-item-family: @DINPro;
// 按键字体大小，小屏
@numeric-input-item-size-sm: 47 * @rpx;
// 按键高度，小屏
@numeric-input-item-height-sm: 82 * @rpx;

// 删除键大小
@numeric-input-delete-size: 56 * @rpx;

// 删除键大小
@numeric-input-confirm-size: 36 * @rpx;
@numeric-input-confirm-color: @color-text-base;
@numeric-input-confirm-background: @color-fill-primary;

// end

@keyboardPrefixCls: amd-numeric-keypad;
@space-md: @numeric-input-space-md;
@space-sm: @numeric-input-space-sm;

// 矮胖型屏幕适配
// 判断依据，胖于 1080/1920 的机器都算矮胖
// 比如 iphone (6,7,8) plus 系列刚好属于不胖的代表
.small-screen(@rules) {
  @media screen and (min-aspect-ratio: ~'1081/1920') {
    @rules();
  }
}

.@{keyboardPrefixCls}-wrapper {
  position: fixed;
  z-index: 10000;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: env(safe-area-inset-bottom);
  border-top: 1 * @rpx solid @numeric-input-border-color;
  background: @numeric-input-background;
  transform: translateZ(0);
  transition-duration: 0.2s;
  transition-property: bottom;
  user-select: none;
  .iphonex({padding-bottom: @safe-area-inset-bottom;});

  &.@{keyboardPrefixCls}-wrapper-hide {
    bottom: -1000 * @rpx;
  }

  .@{keyboardPrefixCls}-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: @space-md;
    margin: 0 @space-md;

    .small-screen({padding-bottom: @space-md - @space-sm;});

    &-content {
      width: 100%;
      color: @numeric-input-header-color;
      font-size: @numeric-input-header-size;
      text-align: center;
    }
  }

  .@{keyboardPrefixCls}-down-icon {
    .encoded-svg-background('numeric_keypad_down');

    width: 44 * @rpx;
    height: 44 * @rpx;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 44 * @rpx 44 * @rpx;
  }

  table {
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: separate;
    border-spacing: @space-md;
    .small-screen({border-spacing: @space-sm;});

    tr {
      width: 100%;
      padding: 0;
      margin: 0;

      .@{keyboardPrefixCls}-item {
        position: relative;
        width: 25%;
        height: @numeric-input-item-height;
        box-sizing: border-box;
        padding: 10 * @rpx;
        margin: 0;
        background: @color-fill-grey-inverse;
        border-radius: 4 * @rpx;
        color: @numeric-input-item-color;
        font-family: @numeric-input-item-family;
        font-size: @numeric-input-item-size;
        text-align: center;
        user-select: none;
        .small-screen(
          {font-size: @numeric-input-item-size-sm; height: @numeric-input-item-height-sm;}
        );

        &.@{keyboardPrefixCls}-item-active {
          filter: brightness(0.9);

          & > span {
            opacity: 0.7;
          }
        }

        &.@{keyboardPrefixCls}-item-disabled {
          opacity: @opacity-disabled;
        }

        &.@{keyboardPrefixCls}-item-invalid {
          display: none;
        }

        &.amd-numeric-keypad-confirm {
          background-color: @numeric-input-confirm-background;
          color: @numeric-input-confirm-color;
          font-size: @numeric-input-confirm-size;
          font-weight: 500;
          word-break: break-all;
        }

        &.amd-numeric-keypad-delete {
          .encoded-svg-background('numeric_keypad_delete');

          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: @numeric-input-delete-size @numeric-input-delete-size;
          color: transparent;
        }
      }
    }
  }
}

@keyframes keyboard-cursor {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
