@class-prefix-tag: ~'adm-tag';

.@{class-prefix-tag} {
  padding: 2px 4px;
  font-size: 10px;
  font-weight: normal;
  background-color: var(--color);
  color: #ffffff;
  display: inline-block;
  white-space: nowrap;
  border-radius: 2px;
  border: 0.5px solid var(--color);
  box-sizing: border-box;
  &-round {
    border-radius: 100px;
  }
  &-outline {
    background: transparent;
    color: var(--color);
  }
}
