@import '../../style/variables';
@import '../../style/mixins';

@tab-prefix-cls: am-tabbar;

.@{tab-prefix-cls} {
  &-tabs {
    .display-box();
    height: 12 * @grid;
    border-top: 1px solid @neutral-5;
    position: fixed;
    bottom: 0;
    width: 100%;
    &-item {
      flex: 1;
      text-align: center;
      img {
        margin-top: 0.5 * @grid;
        width: 7 * @grid;
        height: 7 * @grid;
        vertical-align: middle;
      }
      &-title {
        font-size: @font-size-1;
      }
      &-badge {
        // TODO issue badge 需要开放 text 的 class 适配高清方案
        .am-badge-text {
          top: 0.5 * @grid;
          right: -5 * @grid;
          height: 4.5 * @grid;
          font-size: 3.5 * @grid;
          padding: 0 1.25 * @grid;
          border-radius: 2.5 * @grid;
        }
      }
    }
  }
  &-content {
    &-item {
      display: none;
    }
    &-item-active {
      display: block;
    }
  }
  &-badge-container {
    background-color: @orange-8;
    height: 5 * @grid;
    padding: 0 3 * @grid;
    position: relative;

  }
  &-badge-text {
    color: @neutral-1;
    font-size: @font-size-4;
    position: absolute;
      p {
        font-size: @font-size-1;
      }
    }
  }
}
