<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    
    <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
    <script>
      if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body);
        }, false);
      }
      window.PromiseRejectionEvent = function () {};
      if (!window.Intl) {
        document.writeln('<script src="https://as.alipayobjects.com/g/component/intl/1.0.1/??Intl.js,locale-data/jsonp/en.js,locale-data/jsonp/zh.js">' + '<' + '/script>');
      }
    </script>
    <link rel="icon" href="https://zos.alipayobjects.com/rmsportal/wIjMDnsrDoPPcIV.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://gw.alipayobjects.com/os/site-cdn/ffcabbb6-462c-4d3d-9945-0aacb73636cb/site-cdn/2.1.1/kitchen-sink.css"/>
    <title>支付宝移动组件库</title>
  </head>
  <body>
    <div id="react-content"></div>
    
      
      
    
    <!-- history@3.2.1 -->
    <script src="https://os.alipayobjects.com/rmsportal/VnttsLkEQmyLDBBluBQq.js"></script>
    <!-- babel-polyfill@6.20.0 -->
    <script src="https://os.alipayobjects.com/rmsportal/wzWaWInUcXErDyTwvySY.js"></script>
    <script src="https://gw.alipayobjects.com/os/site-cdn/ca6ae0e7-b56c-4951-ae18-b57ebd8f48f1/site-cdn/2.1.1/common.js"></script>
    <script src="https://gw.alipayobjects.com/os/site-cdn/4fc6032d-786e-4a1c-9335-6a488aefee49/site-cdn/2.1.1/kitchen-sink.js"></script>
  </body>
</html>
