<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    
    <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
    <script>
      if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body);
        }, false);
      }
      window.PromiseRejectionEvent = function () {};
      if (!window.Intl) {
        document.writeln('<script src="https://as.alipayobjects.com/g/component/intl/1.0.1/??Intl.js,locale-data/jsonp/en.js,locale-data/jsonp/zh.js">' + '<' + '/script>');
      }
    </script>
    <link rel="icon" href="https://zos.alipayobjects.com/rmsportal/wIjMDnsrDoPPcIV.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://gw.alipayobjects.com/os/site-cdn/3900ee11-9476-409d-8773-1ef568f0da7f/site-cdn/2.0.2/kitchen-sink.css"/>
    <title>支付宝移动组件库</title>
  </head>
  <body>
    <div id="react-content"></div>
    
      
      
    
    <!-- history@3.2.1 -->
    <script src="https://os.alipayobjects.com/rmsportal/VnttsLkEQmyLDBBluBQq.js"></script>
    <!-- babel-polyfill@6.20.0 -->
    <script src="https://os.alipayobjects.com/rmsportal/wzWaWInUcXErDyTwvySY.js"></script>
    <script src="https://gw.alipayobjects.com/os/site-cdn/67b4ffb6-e0ce-47fe-b5af-629704a2ccdb/site-cdn/2.0.2/common.js"></script>
    <script src="https://gw.alipayobjects.com/os/site-cdn/6eb688e7-1251-4f06-b31e-31029bc11d22/site-cdn/2.0.2/kitchen-sink.js"></script>
  </body>
</html>
