<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    
    <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
    <script>
      if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body);
        }, false);
      }
      window.PromiseRejectionEvent = function () {};
      if (!window.Intl) {
        document.writeln('<script src="https://as.alipayobjects.com/g/component/intl/1.0.1/??Intl.js,locale-data/jsonp/en.js,locale-data/jsonp/zh.js">' + '<' + '/script>');
      }
    </script>
    <link rel="icon" href="https://zos.alipayobjects.com/rmsportal/wIjMDnsrDoPPcIV.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://gw.alipayobjects.com/os/site-cdn/c42403ac-9c9f-45e1-9822-a8fd51fbd182/site-cdn/2.1.1/kitchen-sink.css"/>
    <title>支付宝移动组件库</title>
  </head>
  <body>
    <div id="react-content"></div>
    
      
        <script src="https://unpkg.com/preact@8.2.6/dist/preact.min.js"></script>
      
    
    <!-- history@3.2.1 -->
    <script src="https://os.alipayobjects.com/rmsportal/VnttsLkEQmyLDBBluBQq.js"></script>
    <!-- babel-polyfill@6.20.0 -->
    <script src="https://os.alipayobjects.com/rmsportal/wzWaWInUcXErDyTwvySY.js"></script>
    <script src="https://gw.alipayobjects.com/os/site-cdn/2f39a66b-2557-4eca-af76-26d3ed6e5755/site-cdn/2.1.1/common.js"></script>
    <script src="https://gw.alipayobjects.com/os/site-cdn/cba31211-2144-4952-9a8f-569d97fa4b69/site-cdn/2.1.1/kitchen-sink.js"></script>
  </body>
</html>
