<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    
    <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
    <script>
      if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body);
        }, false);
      }
      window.PromiseRejectionEvent = function () {};
      if (!window.Intl) {
        document.writeln('<script src="https://as.alipayobjects.com/g/component/intl/1.0.1/??Intl.js,locale-data/jsonp/en.js,locale-data/jsonp/zh.js">' + '<' + '/script>');
      }
    </script>
    <link rel="icon" href="https://zos.alipayobjects.com/rmsportal/wIjMDnsrDoPPcIV.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://gw.alipayobjects.com/os/site-cdn/83b07474-5fc5-4e97-bd16-877996f7c289/site-cdn/2.0.0/kitchen-sink.css"/>
    <title>支付宝移动组件库</title>
  </head>
  <body>
    <div id="react-content"></div>
    
      
      
    
    <!-- history@3.2.1 -->
    <script src="https://os.alipayobjects.com/rmsportal/VnttsLkEQmyLDBBluBQq.js"></script>
    <!-- babel-polyfill@6.20.0 -->
    <script src="https://os.alipayobjects.com/rmsportal/wzWaWInUcXErDyTwvySY.js"></script>
    <script src="https://gw.alipayobjects.com/os/site-cdn/14c52f4a-d849-4854-a3d5-fe987f62dc47/site-cdn/2.0.0/common.js"></script>
    <script src="https://gw.alipayobjects.com/os/site-cdn/5f2e0229-29c9-4aa7-8043-02505aa248bf/site-cdn/2.0.0/kitchen-sink.js"></script>
  </body>
</html>
