@import '../../style/mixins';
@import '../../style/variables.less';
@import '../../style/iconfont.less';

@pickerPrefixClass: am-toast;

.@{pickerPrefixClass} {
  position: fixed;
  z-index: 100;
  top: 40%;
  width: 100%;
  text-align: center;
  &-text {
    display: inline-block;
    margin: auto 6*@grid;
    padding: 4*@grid;
    .border-radius(6px);
    color: #fff;
    background-color: @neutral-10;
    opacity: 0.6;
    font-size: @font-size-4;
    line-height: 21px;
  }

  &-icon {
    font-size: 8*@grid;
    margin-bottom: @grid;
  }
}





