.search {
  padding: 0 12px 12px;

  :global {
    .adm-space-item:first-child {
      flex: 1;
    }

    .adm-search-bar-cancel-button.adm-button {
      padding: 3px 2px;
      color: var(--adm-color-primary);
      font-size: 16px;
    }
  }
}

.avatar {
  --size: 32px;
  --border-radius: 50%;
}

.image {
  --size: 64px;
  margin-bottom: 5px;
}

.item {
  text-align: center;
  font-size: 14px;
}
