{
  "env": {
    "development": {
      "presets": [
        "react-native"
      ],
      "plugins": [
        [
          "import",
          {
            "libraryName": "antd-mobile",
            "libraryDirectory": "components",
            "fileName": "index.native"
          }
        ]
      ]
    },
    "production": {
      "presets": [
        "react-native"
      ],
      "plugins": [
        [
          "import",
          {
            "libraryName": "antd-mobile",
            "libraryDirectory": "components",
            "fileName": "index.native"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        "react-native"
      ],
      "plugins": [
        [
          "import",
          {
            "libraryName": "antd-mobile",
            "libraryDirectory": "components",
            "fileName": "index.native"
          }
        ]
      ]
    }
  }
}
