*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
_site
/dist
lib
elasticsearch-*
config/base.yaml
_data
rn-kitchen-sink/ios/build
rn-kitchen-sink/ios/bundle
rn-kitchen-sink/android/bundle
rn-kitchen-sink/android/.gradle
rn-kitchen-sink/android/app/build
rn-kitchen-sink/android/build
rn-kitchen-sink/android/local.properties
rn-kitchen-sink/android/app/src/main/res/drawable*
rn-kitchen-sink/app/*.ipa
rn-kitchen-sink/app/*.apk
xcuserdata
components/**/*.jsx
components/**/*.js
my-release-key.keystore
.vscode
yarn.lock
npm-debug.log*
!components/**/__tests__/*.js
coverage
/es/
package-lock.json
*.web.js
*.web.jsx
*.web.tsx
*.web.ts
.cdnkey
