*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
_site
/dist
lib
elasticsearch-*
config/base.yaml
_data
xcuserdata
components/**/*.jsx
components/**/*.js
my-release-key.keystore
.vscode
yarn.lock
npm-debug.log*
!components/**/__tests__/*.js
coverage
/es/
package-lock.json
.cdnkey
