{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-element-colon-notation": "single",
    "unit-case": null,
    "function-linear-gradient-no-nonstandard-direction": null,
    "function-name-case": ["lower", {
      "ignoreFunctions": ["/encodeURIComponent/"]
    }],
    "number-leading-zero": null
  }
}
