@class-prefix-tabs: ~'adm-tabs';

.@{class-prefix-tabs} {
  &-tab-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: solid 1px var(--adm-border-color);
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
  &-tab-wrapper {
    flex: auto;
    padding: 0 12px;
  }
  &-tab {
    white-space: nowrap;
    padding: 8px 0 10px;
    width: min-content;
    margin: 0 auto;
    font-size: 17px;
    position: relative;
    cursor: pointer;
  }
  &-tab-active {
    color: var(--adm-color-primary);
  }
  &-tab-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &-tab-line {
    position: absolute;
    bottom: 0;
    height: 2px;
    color: var(--adm-color-primary);
    background: var(--adm-color-primary);
  }
  &-content {
    padding: 12px;
  }
}
