@class-prefix-tree-select: ~'adm-tree-select';
@class-prefix-tree-select-multiple: ~'adm-tree-select-multiple';

.@{class-prefix-tree-select},
.@{class-prefix-tree-select-multiple} {
  display: flex;
  height: 100%;
  font-size: var(--adm-font-size-main);
  background-color: var(--adm-color-white);

  &-column {
    overflow-y: auto;
    // https://github.com/PolymerElements/iron-list/issues/18
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    &:first-child {
      background-color: var(--adm-color-box);
    }
    &:nth-child(2) {
      background-color: var(--adm-color-box);
    }
  }

  &-item {
    display: flex;
    align-items: center;
    min-height: 50px;
    box-sizing: border-box;
    padding: 6px 12px;
    position: relative;
  }
}

.@{class-prefix-tree-select} {
  &-item-active {
    color: var(--adm-color-primary);
    font-weight: bold;
    background-color: white;
  }
}

.@{class-prefix-tree-select-multiple} {
  &-item-expand {
    color: var(--adm-color-primary);
    font-weight: bold;
    background-color: white;
  }

  &-item-checkbox {
    margin-right: 8px;
  }

  &-dot {
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 8px;
    width: 6px;
    height: 6px;
    background: var(--adm-color-primary);
    border-radius: 3px;
  }
}
