@import '../../style/variables';
@import '../../style/mixins';

@segment-prefix-cls: am-segment;

.@{segment-prefix-cls} {
  .display-box;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: @radius-1;
  border-color: @brand-6;
  overflow: hidden;
  &-item {
    position: relative;
    display: block;
    .box-flex(1);
    color: @brand-6;
    font-size: @font-size-2;
    text-align: center;
    width: 100%;
    height: 7.5 * @grid;
    line-height: 7.5 * @grid;
    border-right: 1px solid @brand-6;
    .box-sizing();

    &:last-child {
      border-right: 0;
    }

    &-selected {
      background: @brand-6;
      color: #fff;
    }
  }
}
