@class-prefix-uploader: ~'am-uploader';

@uploader-width: 80px;
@uploader-height: 80px;
@uploader-space: 12px;

.@{class-prefix-uploader} {
  &-container {
    display: flex;
    flex-wrap: wrap;
  }
  &-card {
    position: relative;
    width: @uploader-width;
    height: @uploader-height;
    margin-right: @uploader-space;
    margin-bottom: @uploader-space;
    border-radius: 4px;
    overflow: hidden;

    &-error {
      border: red solid 1px;
      box-sizing: border-box;
    }

    &-delete {
      position: absolute;
      top: 0;
      right: 0;
      width: 14px;
      height: 14px;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 0 0 0 12px;
      font-size: 8px;
      color: #fff;
    }

    &-mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: #fff;
      background-color: rgba(50, 50, 51, 0.88);
    }

    &-loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 16px;
    }

    &-mask-message {
      display: inline-block;
      padding: 6px 4px;
      font-size: 12px;
    }

    &-preview-image {
      width: @uploader-width;
      height: @uploader-height;
    }
  }

  &-select-picture {
    position: relative;
    background-color: #f5f5f5;
    text-align: center;
    line-height: @uploader-height;

    .addition {
      color: #999;
      font-size: 32px;
    }

    .file-input {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      width: @uploader-width;
      height: @uploader-height;
      border-radius: 4px;
    }
  }
}
