@import '../../style/mixins';
@import '../../style/variables';

@pickerPrefixCls: am-picker;
@pickerPickerPrefixCls: am-picker-picker;
@pickerPopupPrefixCls: am-picker-popup;

@import './picker';
@import './picker-popup';

.@{pickerPrefixCls} {
  display: flex;
  box-align: center;
  align-items: center;
  padding: 10px 0;

  &-main-item {
    flex: 1;
    text-align: center;
  }
}
