@import '../../style/mixins';
@import '../../style/variables';
@DropdownPrefixCls: am-dropdown;

@import './base';

.@{DropdownPrefixCls} {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
}
