@import '../style/mixins';

.am-list {
  padding: 8px 0;
  & &-header {
    padding: 10px 15px 0;
    padding-bottom: 8px;
    font-size: 12px;
    color: #a5a5a5;
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
  }
  & &-footer {
    padding: 8px 15px;
    font-size: 12px;
    color: #999;
  }
  & &-body {
    position: relative;
    padding-top: 1px;
    &:before,
    &:after {
      content: " ";
      position: absolute;
      left: 0;
      width: 100%;
      height: 0;
      -webkit-transform: scaleY(.5);
      transform: scaleY(.5);
    }
    &:before {
      top: 0;
      border-top: 1px solid #d9d9d9;
      -webkit-transform-origin: 0 1px;
      transform-origin: 0 1px;
    }
    &:after {
      bottom: 0;
      border-bottom: 1px solid #d9d9d9;
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }
  }
  & &-item {
    position: relative;
    font-size: 16px;
    color: #333;
    padding: 6px 15px 6px 15px;
    min-height: 32px;
    background: #fff;
    vertical-align: middle;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    overflow: hidden;
    .display-box;
    .box-align;
    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;
    /* 双行 */
    &.am-list-item-13 {
      padding: 9px 15px;
      .am-list-content,
      .am-list-extra {
        margin-top: 1px;
        margin-bottom: 4px;
      }
    }
    &.am-list-item-top {
      .box-align(flex-start);
    }
    &.am-list-item-middle {
      .box-align(center);
    }
    &.am-list-item-bottom {
      .box-align(flex-end);
    }
    /* list selector 选择的样式*/
    &.am-list-selected {
      position: relative;
      z-index: 11;
      .am-list-content {
        color: #00a9ed;
        -webkit-box-flex: 4;
        -webkit-flex: 4;
      }
      .am-list-extra {
        -webkit-box-flex: initial;
        -webkit-flex: initial;
        position: relative;
        width: 30px;
        min-width: 30px;
        height: 20px;
        span {
          position: absolute;
          top: -5px;
          right: 8px;
          display: inline-block;
          content: "";
          width: 10px;
          height: 20px;
          border: 2px solid #00a9ed;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
        }
      }
      &:after {
        background-color: #00a9ed;
      }
      &:last-child:after {
        left: 0;
      }
    }
    &:after {
      width: 100%;
      height: 0;
      border-bottom: 1px solid #e5e5e5;
      bottom: 0;
      content: "";
      left: 15px;
      position: absolute;
      -webkit-transform: scaleY(.5);
      transform: scaleY(.5);
    }
    &.am-list-top {
      background-color: #d9eefc;
    }

    /*list左侧主内容*/
    .am-list-content {
      .box-flex(1);
      min-width: 60px;
      .ellipsis();
      &.am-list-content-right {
        padding-right: auto;
        padding-left: 25px;
      }
    }

    /*list左侧主内容多行时，title*/
    .am-list-title {
      color: #333;
      line-height: 1.5em;
      .ellipsis();
    }
    .am-list-new {
      padding-left: 10px;
      text-align: left;
    }

    /*list左侧主内容多行时，摘要*/
    .am-list-brief {
      color: #a5a5a5;
      font-size: 12px;
      line-height: 15px;
      margin-top: 8px;
      .ellipsis();
    }

    /*list右补充内容*/
    .am-list-extra {
      .box-flex(1);
      color: #999;
      min-width: 96px;
      font-size: 14px;
      text-align: right;
      .ellipsis();
      &.am-list-extra-text-right {
        font-size: 14px;
        line-height: 43px;
      }

    }
    /*list右侧补充内容-颜色醒目*/
    .am-list-key {
      color: #336395;
    }
    .am-list-multiline {
      white-space: normal;
      word-break: break-all;
    }
    /*list右侧箭头*/
    .am-list-arrow {
      margin-left: 7px;
      margin-right: -2px;
      width: 12px;
    }
    /*list左右图片显示*/
    .am-list-thumb {
      position: relative;
      &.am-list-thumb-right {
        &:first-child {
          margin-right: 10px;
          margin-left: 29px;
        }
        &:last-child {
          margin-left: 10px;
        }
      }
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 10px;
      }
    }

    .am-list-thumb-radius img {
      .border-radius(4px);
    }

    img {
      vertical-align: middle;
    }

  }
  button,
  a {
    &.am-list-item:active {
      background-color: #e4e4e4;
    }
  }

  &.am-list-chip {
    .am-list-item {
      &.am-list-top {
        position: relative;
        z-index: 2;
        -webkit-background-size: 0px 0px, 0px 0px, 100% 1px, 100% 1px;
        .am-list-icon {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  &.am-list-iconlist {
    .am-list-item {
      -webkit-background-size: 52px 1px, 52px 1px, 100% 1px, 100% 1px;
      &:first-child {
        -webkit-background-size: 0px 0px, 52px 1px, 100% 1px, 100% 1px;
      }
      &:last-child {
        -webkit-background-size: 52px 1px, 0px 0px, 100% 1px, 100% 1px;
      }
      &:first-child:last-child {
        -webkit-background-size: 0px 0px, 0px 0px, 100% 1px, 100% 1px;
      }
      .am-list-icon {
        margin-right: 15px;
        img {
          display: block;
          width: 22px;
          height: 22px;
        }
      }
      &:after {
        margin-left: 41px;
      }
    }
    &.am-list-icon29 {
      .am-list-item {
        -webkit-background-size: 59px 1px, 59px 1px, 100% 1px, 100% 1px;
        &:first-child {
          -webkit-background-size: 0px 0px, 59px 1px, 100% 1px, 100% 1px;
        }
        &:last-child {
          -webkit-background-size: 59px 1px, 0px 0px, 100% 1px, 100% 1px;
        }
        &:first-child:last-child {
          -webkit-background-size: 0px 0px, 0px 0px, 100% 1px, 100% 1px;
        }
        .am-list-icon {
          margin-right: 15px;
          img {
            display: block;
            width: 29px;
            height: 29px;
          }
        }
      }
    }
  }
  &.am-main-list {
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
    padding: 0px;
    .am-main-list-item {
      width: 100%;
      .am-main-list-title {
        position: relative;
        .am-main-content {
          padding: 13px 0;
          margin-left: 15px;
          font-size: 16px;
          color: #333;
        }
        .am-main-arrow {
          position: absolute;
          top: 20px;
          right: 15px;
          width: 12px;
          height: 12px;
        }
      }
      &:last-child .am-main-content {
        border: 0;
      }
      .am-sub-list-item {
        display: none;
        background: #f9f9fa;
        .am-sub-list-content {
          margin-left: 30px;
          padding: 13px 0;
          color: #666;
        }
      }
      &am-main-list-item-spread {
        .am-sub-list-item {
          display: block;
        }
      }
    }
  }
  &.am-list-twoline .am-list-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .am-main-list-title {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(.5, #fff), color-stop(.5, transparent)) top left no-repeat,
    -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) bottom left no-repeat,
    -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), color-stop(.5, #e5e5e5), color-stop(.5, transparent)) top left no-repeat,
    -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#e5e5e5)) bottom left no-repeat,
    #fff;
    background: -webkit-linear-gradient(90deg, #fff, #fff) top left no-repeat,
    -webkit-linear-gradient(270deg, #fff, #fff) bottom left no-repeat,
    -webkit-linear-gradient(90deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) top left no-repeat,
    -webkit-linear-gradient(270deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) bottom left no-repeat,
    #fff;
    background: linear-gradient(0deg, #fff, #fff) top left no-repeat,
    linear-gradient(180deg, #fff, #fff) bottom left no-repeat,
    linear-gradient(0deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) top left no-repeat,
    linear-gradient(180deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) bottom left no-repeat,
    #fff;
    -webkit-background-size: 0px 0px, 0px 0px, 100% 1px, 100% 1px;
    margin-top: -1px;
  }
  //下拉列表边框
  &.am-list-chip .am-main-list-title {
    -webkit-background-size: 15px 1px, 15px 1px, 100% 1px, 100% 1px;
  }
  &.am-list-chip .am-main-list-item {
    &:first-child {
      .am-main-list-title {
        -webkit-background-size: 0px 0px, 15px 1px, 100% 1px, 100% 1px;
      }
    }
    &:last-child {
      .am-main-list-title {
        -webkit-background-size: 15px 1px, 0px 0px, 100% 1px, 100% 1px;
      }
    }
  }
  &.am-main-list .am-sub-list-content {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(.5, #fff), color-stop(.5, transparent)) top left no-repeat,
    -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) bottom left no-repeat,
    -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), color-stop(.5, #e5e5e5), color-stop(.5, transparent)) top left no-repeat,
    -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#e5e5e5)) bottom left no-repeat,
    #f9f9fa;
    background: -webkit-linear-gradient(90deg, #fff, #fff) top left no-repeat,
    -webkit-linear-gradient(270deg, #fff, #fff) bottom left no-repeat,
    -webkit-linear-gradient(90deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) top left no-repeat,
    -webkit-linear-gradient(270deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) bottom left no-repeat,
    #f9f9fa;
    background: linear-gradient(0deg, #fff, #fff) top left no-repeat,
    linear-gradient(180deg, #fff, #fff) bottom left no-repeat,
    linear-gradient(0deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) top left no-repeat,
    linear-gradient(180deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) bottom left no-repeat,
    #f9f9fa;
    -webkit-background-size: 0px 0px, 0px 0px, 0px 0px, 100% 1px;
    &:last-child {
      -webkit-background-size: 0px 0px, 0px 0px, 0px 0px, 100% 1px;
    }
  }
}

.am-icon {
  &&-arrow-horizontal,
  &&-arrow-vertical {
    display: block;
    width: 12px;
    height: 12px;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      margin-left: 0;
      border: solid 2px rgba(199, 199, 204, 90);
      border-top: 0 none;
      border-left: 0 none;
    }
  }
  &&-arrow-horizontal {
    &:before {
      margin-top: 2px;
      .transform(rotate(315deg));
    }
  }
  &&-arrow-vertical {
    &:before {
      margin-left: 2px;
      .transform(rotate(45deg));
    }
    &&-arrow-vertical-up {
      &:before {
        margin: 4px 0 0 2px;
        .transform(rotate(225deg));
      }
    }
    &&-arrow-vertical-down {
      &:before {
        margin-left: 2px;
        .transform(rotate(45deg));
      }
    }
  }
}

.am-icon {
  &.am-icon-lock {
    display: block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url("./image/lock.png") no-repeat;
      .backgroundSize(18px, auto);
    }
  }
  display: block;
  overflow: hidden;
  width: 25px;
  height: 25px;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    .backgroundSize(24px, auto);
  }
  &.am-icon-form-camera:before {
    background-image: url("./image/camera.png");
  }
  &.am-icon-form-list:before {
    background-image: url("./image/list.png");
  }
  &.am-icon-form-contacts-mobile:before {
    background-image: url("./image/contacts_mobile.png");
  }
  &.am-icon-form-bill:before {
    background-image: url("./image/bill.png");
  }
  &.am-icon-form-contacts-alipay:before {
    background-image: url("./image/contacts_alipay.png");
  }
  &.am-icon-form-cards:before {
    background-image: url("./image/cards.png");
  }
  &.am-icon-form-calculator:before {
    background-image: url("./image/calculator.png");
  }
  &.am-icon-form-scan:before {
    background-image: url("./image/scan.png");
  }
}
