.adm-calendar,
.adm-calendar-popup {
  & &-title {
    flex: auto;
    font-size: var(--adm-font-size-10);
  }
  & &-header {
    padding: 8px;
    border-bottom: 1px solid var(--adm-color-border);
    .adm-calendar-title {
      text-align: center;
    }
  }
  & &-body {
    height: 64vh;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
    .adm-calendar-title {
      position: sticky;
      top: 0;
      padding: 12px 18px;
      background-color: var(--adm-color-box);
    }
  }
  & &-footer {
    padding: 12px 18px;
    .adm-button {
      width: 100%;
    }
  }
  &-cells {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 8px 8px 4px;
  }
  &-cell {
    flex: none;
    box-sizing: border-box;
    width: calc(100% / 7);
    min-height: 56px;
    margin-bottom: 4px;
    padding: 2px;
    color: var(--adm-color-text);
    cursor: pointer;
    &&-today {
      color: var(--adm-color-primary);
    }
    &&-disabled {
      color: var(--adm-color-light);
      .adm-calendar-cell-top,
      .adm-calendar-cell-bottom {
        color: var(--adm-color-light);
      }
    }
    &&-selected {
      && {
        background: var(--adm-color-primary);
        color: var(--adm-color-white);
      }
      & .adm-calendar-cell-top,
      & .adm-calendar-cell-bottom {
        color: var(--adm-color-white);
      }
      &&-begin {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &&-end {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    &&-disabled&&-selected {
      color: var(--adm-color-light);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & &-date {
      flex: none;
      line-height: 22px;
      font-size: var(--adm-font-size-9);
    }
    & &-top,
    & &-bottom {
      flex: none;
      font-size: var(--adm-font-size-2);
      height: 14px;
      line-height: 14px;
      color: var(--adm-color-weak);
    }
  }

  &-mark {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px var(--adm-color-border);
    height: 45px;
    box-sizing: border-box;
    font-size: var(--adm-font-size-7);
    padding: 0 8px;
    & &-cell {
      flex: 1;
      text-align: center;
    }
  }
}
