@import '../../style/themes/default';

.am-icon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  background-size: cover;
  width: @icon-size-md;
  height: @icon-size-md;
  background-size: cover;

  &-bars {
    background-image: url("./assets/bars.svg");
  }
  &-bill {
    background-image: url("./assets/bill.svg");
  }
  &-chat {
    background-image: url("./assets/chat.svg");
  }
  &-chats {
    background-image: url("./assets/chats.svg");
  }
  &-check {
    background-image: url("./assets/check.svg");
  }
  &-checkbox {
    background-image: url("./assets/checkbox.svg");
  }
  &-clock-circle {
    background-image: url("./assets/clock-circle.svg");
  }
  &-comment {
    background-image: url("./assets/comment.svg");
  }
  &-complain {
    background-image: url("./assets/complain.svg");
  }
  &-complaint {
    background-image: url("./assets/complaint.svg");
  }
  &-complaints {
    background-image: url("./assets/complaints.svg");
  }
  &-cross {
    background-image: url("./assets/cross.svg");
  }
  &-delete {
    background-image: url("./assets/delete.svg");
  }
  &-delete-o {
    background-image: url("./assets/delete-o.svg");
  }
  &-down {
    background-image: url("./assets/down.svg");
  }
  &-edit {
    background-image: url("./assets/edit.svg");
  }
  &-ellipsis {
    background-image: url("./assets/ellipsis.svg");
  }
  &-email {
    background-image: url("./assets/email.svg");
  }
  &-environment-o {
    background-image: url("./assets/environment-o.svg");
  }
  &-eye {
    background-image: url("./assets/eye.svg");
  }
  &-font {
    background-image: url("./assets/font.svg");
  }
  &-frown {
    background-image: url("./assets/frown.svg");
  }
  &-frown-o {
    background-image: url("./assets/frown-o.svg");
  }
  &-group {
    background-image: url("./assets/group.svg");
  }
  &-groupx {
    background-image: url("./assets/groupx.svg");
  }
  &-help {
    background-image: url("./assets/help.svg");
  }
  &-like {
    background-image: url("./assets/like.svg");
  }
  &-link {
    background-image: url("./assets/link.svg");
  }
  &-loading {
    background-image: url("./assets/loading.svg");
  }
  &-lock {
    background-image: url("./assets/lock.svg");
  }
  &-money {
    background-image: url("./assets/money.svg");
  }
  &-minus-circle {
    background-image: url("./assets/minus-circle.svg");
  }
  &-ownset {
    background-image: url("./assets/ownset.svg");
  }
  &-plus {
    background-image: url("./assets/plus.svg");
  }
  &-reload {
    background-image: url("./assets/reload.svg");
  }
  &-search {
    background-image: url("./assets/search.svg");
  }
  &-scan {
    background-image: url("./assets/scan.svg");
  }
  &-setting {
    background-image: url("./assets/setting.svg");
  }
  &-share {
    background-image: url("./assets/share.svg");
  }
  &-star-o {
    background-image: url("./assets/star-o.svg");
  }
  &-team {
    background-image: url("./assets/team.svg");
  }
  &-titlebar {
    background-image: url("./assets/titlebar.svg");
  }
  &-trips {
    background-image: url("./assets/trips.svg");
  }
  &-user {
    background-image: url("./assets/user.svg");
  }
  &-world {
    background-image: url("./assets/world.svg");
  }


  &-xxs {
    width: @icon-size-xxs;
    height: @icon-size-xxs;
  }

  &-xs {
    width: @icon-size-xs;
    height: @icon-size-xs;
  }

  &-sm {
    width: @icon-size-sm;
    height: @icon-size-sm;
  }

  &-md {
    width: @icon-size-md;
    height: @icon-size-md;
  }

  &-lg {
    width: @icon-size-lg;
    height: @icon-size-lg;
  }
}
