@class-prefix-error-block: ~'adm-error-block';

.@{class-prefix-error-block} {
  --color: var(--adm-color-text);
  --image-height: 100px;
  --image-height-full-page: 200px;
  box-sizing: border-box;
  text-align: center;

  &-image {
    height: var(--image-height);

    & img {
      height: 100%;
    }
  }

  &-description {
    font-size: 12px;
    color: #999;
    line-height: 1.4;
    margin-top: 12px;
    &-title {
      font-size: 15px;
    }
    &-subtitle {
      margin-top: 8px;
    }
  }

  &-content {
    margin-top: 12px;
  }

  &-full-page {
    padding-top: calc(50vh - var(--image-height-full-page));
    .@{class-prefix-error-block}-image {
      height: var(--image-height-full-page);
    }
    .@{class-prefix-error-block}-description {
      margin-top: 20px;
      font-size: 13px;
      &-title {
        font-size: 20px;
        color: #333;
      }
    }
  }
}
