

.github-button-wrap {
  margin-top: 24Px;
  padding-left: 65Px;
  text-align: left;
  > span {
    display: inline-block;
  }
}

.down {
  text-align: center;
  position: absolute;
  bottom: 30Px;
  color: rgba(255, 255, 255, .75);
  left: 50%;
  margin-left: -7Px;
  animation: upDownMove 1.2s ease-in-out infinite;
}
