#list-wrapper {
  position: fixed;
  z-index: 9998;
  top: 50%;
  right: 20px;
  width: 6px;
  margin-top: -35px;
}
.list-point {
  width: 6px;
  height: 6px;
  background: #00AAEE;
  border-radius: 6px;
  float: left;
  margin: 4px auto;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .3s;
}
.list-point:hover, .list-point.active {
  opacity: 1;
}

#banner {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("https://os.alipayobjects.com/rmsportal/BlNtAoLQZdghDlD.png") no-repeat center / cover;
}
.banner-text-wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -310px;
  color: #fff;
  width: 620px;
  text-align: center;
}
.banner-img {
  width: 623px;
  height: 330px;
  margin: 0 auto 20px;
  background: url("https://zos.alipayobjects.com/rmsportal/KkwxfwZGLDeWrWN.png") no-repeat 0 0;
  background-size: 100%;
}
.banner-text-wrapper h2 {
  font-size: 40px;
  font-weight: normal;
  font-family: 'PingFang SC';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner-text-wrapper  .start-button-wrap {
  height: 56px;
  margin-bottom: 12px;
}

.banner-text-wrapper  .start-button-wrap a {
  color: #2DB7F5;
  font-size: 18px;
  padding: 13px 45px 14px;
  border: 1px solid #2DB7F5;
  border-radius: 6px;
  transition: all .3s;
  &:hover {
    box-shadow: 0 0 10px #2DB7F5;
  }
}

.github-button-wrap {
  text-align: center;
  > span {
    display: inline-block;
  }
}

.down {
  text-align: center;
  position: absolute;
  bottom: 30px;
  color: rgba(255, 255, 255, .75);
  left: 50%;
  margin-left: -7px;
  animation: upDownMove 1.2s ease-in-out infinite;
}

.page {
  min-height: 700px;
}

#page1 {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("https://os.alipayobjects.com/rmsportal/hdHsGqFeefGVXFv.png") no-repeat center / cover;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1850px;
  margin: auto;
  overflow: hidden;
  background: #fff;

  .image-wrapper {
    width: 65%;
    float: left;
    position: relative;
  }

  .text-wrapper {
    width: 35%;
    float: left;
    position: relative;
    top: 20%;
    left: 10px;
  }
  .text-wrapper h2,
  .text-wrapper-bottom h2 {
    font-size: 32px;
    color: #666;
    font-weight: normal;
  }
  .text-wrapper p {
    margin: 10px 0 20px;
    font-size: 16px;
    line-height: 28px;
    color: #999999;
  }
  .left-text {
    padding-left: 10%;
  }
}
#page1 .text-wrapper {
 width: 40%;
}
#page1 .image-wrapper {
  width: 45%;
}
.image1 {
  background: url("https://os.alipayobjects.com/rmsportal/mhulBomeRfGqRDJ.png") no-repeat right / 560px;
  height: 450px;
  top: 50%;
  margin-top: -256px;
}
.image2 {
  padding-right: 10%;
  background: url("https://os.alipayobjects.com/rmsportal/OvubfuCmnFaoQUt.png") no-repeat right / 505px;
  background-origin: content-box;
  height: 604px;
  top: 50%;
  margin-top: -250px;
}

.text-wrapper-bottom {
  text-align: center;
  margin: 10% auto 40px;
}
.text-wrapper-bottom p {
  margin:10px 0 20px;
  font-size: 16px;
  line-height: 28px;
  color: #999;
}
.text-wrapper-bottom .text-left {
  float: left;
  padding-left: 10%;
  width: 35%;
  position: relative;
  top: 20%;
  left: 10px;
  text-align: left;
}
.text-wrapper-bottom  .start-button-wrap {
  height: 56px;
  margin-bottom: 32px;
}
.text-wrapper-bottom  .start-button-wrap a {
  color: #2DB7F5;
  font-size: 18px;
  padding: 13px 45px 14px;
  border: 1px solid #2DB7F5;
  border-radius: 6px;
  &:hover {
    box-shadow: 0 0 10px #2DB7F5;
  }
}
