#list-wrapper {
  position: fixed;
  z-index: 9998;
  top: 50%;
  right: 20Px;
  width: 6Px;
  margin-top: -35Px;
}

.list-point {
  width: 6Px;
  height: 6Px;
  background: #00AAEE;
  border-radius: 6Px;
  float: left;
  margin: 4Px auto;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .3s;
}

.list-point:hover, .list-point.active {
  opacity: 1;
}

#banner {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("https://zos.alipayobjects.com/rmsportal/IXMdzCCuOjjyQiO.png") no-repeat center / cover;
  .image-wrapper {
    width: 38%;
    position: absolute;
    top: 40%;
    right: 10%;
  }
}

.banner-text-wrapper {
  position: absolute;
  left: 10%;
  top: 40%;
  color: #fff;
}

.banner-img {
  width: 623Px;
  height: 414Px;
  background: url("https://zos.alipayobjects.com/rmsportal/OKXaEzPFlywqyUb.png") no-repeat 0 0;
  background-size: 100%;
}

.banner-text-wrapper h2 {
  font-size: 40Px;
  font-weight: normal;
  font-family: 'PingFang SC';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 12px;
}

.banner-text-wrapper .start-button-wrap {
  margin-top: 36Px;
}

.banner-text-wrapper .start-button-wrap a {
  color: #fff;
  font-size: 18Px;
  padding: 12Px 63Px 13Px;
  border: 1Px solid #fff;
  border-radius: 6Px;
  transition: all .3s;
  &:hover {
    box-shadow: 0 0 10Px #fff;
  }
}

.github-button-wrap {
  margin-top: 24Px;
  padding-left: 65Px;
  text-align: left;
  > span {
    display: inline-block;
  }
}

.down {
  text-align: center;
  position: absolute;
  bottom: 30Px;
  color: rgba(255, 255, 255, .75);
  left: 50%;
  margin-left: -7Px;
  animation: upDownMove 1.2s ease-in-out infinite;
}

.page {
  min-height: 700Px;
}

#page1 {
  position: relative;
  height: 100%;
  width: 100%;
}

#page2 {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("https://zos.alipayobjects.com/rmsportal/lygDTdXxNWVogxN.jpg") no-repeat center / cover;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1850Px;
  margin: auto;
  overflow: hidden;
  background: #fff;

  .image-wrapper {
    width: 65%;
    position: absolute;
    right: 30%;
    top: 15%;
  }

  .image-wrapper1 {
    width: 65%;
    position: absolute;
    right: 10%;
    top: 40%;
  }

  .text-wrapper {
    width: 35%;
    float: left;
    position: relative;
    top: 50%;
    left: 10Px;
  }
  .text-wrapper h2,
  .text-wrapper-bottom h2 {
    font-size: 32Px;
    color: #666;
    font-weight: normal;
  }
  .text-wrapper p {
    margin: 10Px 0 20Px;
    font-size: 16Px;
    line-height: 28Px;
    color: #999999;
  }
  .left-text {
    padding-left: 10%;
  }
}

#page1 .text-wrapper {
  width: 40%;
}

#page1 .image-wrapper {
  width: 45%;
}

.image1 {
  background: url("https://zos.alipayobjects.com/rmsportal/axzxazRHPSziptE.png") no-repeat right / 560Px;
  height: 450Px;
}

.image11 {
  background: url("https://zos.alipayobjects.com/rmsportal/HGUaIGqjuGmxHtR.png") no-repeat right / 560Px;
  height: 450Px;
  position: absolute;
  top: 15%;
  right: 0;
}

.image2 {
  background: url("https://zos.alipayobjects.com/rmsportal/AGoqUqGPNcPZQXx.png") no-repeat left / 505Px;
  background-origin: content-box;
  height: 604Px;
  position: absolute;
  top: 15%;
  left: 10%;
}

#page2 .text-wrapper {
  position: absolute;
  right: 10%;
  left: auto;
  top: 35%;
  padding-left: 0;
  h2, p {
    color: #fff;
  }
}

#page2 .image-wrapper {
  width: 45%;
}

#page3 .text-wrapper {
  text-align: center;
  float: none;
  width: auto;
  top: 20%;
}

.text-wrapper-bottom {
  text-align: center;
  margin: 10% auto 40Px;
}

.text-wrapper-bottom p {
  margin: 10Px 0 20Px;
  font-size: 16Px;
  line-height: 28Px;
  color: #999;
}

.text-wrapper-bottom .text-left {
  float: left;
  padding-left: 10%;
  width: 35%;
  position: relative;
  top: 20%;
  left: 10Px;
  text-align: left;
}

.text-wrapper-bottom .start-button-wrap {
  height: 56Px;
  margin-bottom: 32Px;
}

.text-wrapper-bottom .start-button-wrap a {
  color: #2DB7F5;
  font-size: 18Px;
  padding: 13Px 45Px 14Px;
  border: 1Px solid #2DB7F5;
  border-radius: 6Px;
  &:hover {
    box-shadow: 0 0 10Px #2DB7F5;
  }
}

.bottom-imgs {
  width: 900Px;
  height: 250Px;
  margin: 100Px auto 0;
  img {
    // width: 199Px;
    // height: 168Px;
  }
}
