.new-version-info-modal {
  img {
    width: 100Px;
    position: absolute;
    left: 34Px;
    top: 36Px;
  }
  p {
    margin-top: 1em;
  }
  .anticon {
    display: none;
  }
  .ant-confirm-body {
    .ant-confirm-title {
      font-size: 18Px;
    }
    margin-left: 120Px;
    .ant-confirm-content {
      margin-left: 0;
    }
  }
}
