<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if useHD %}
    <script>
      !function(e){function t(a){if(i[a])return i[a].exports;var n=i[a]={exports:{},id:a,loaded:!1};return e[a].call(n.exports,n,n.exports,t),n.loaded=!0,n.exports}var i={};return t.m=e,t.c=i,t.p="",t(0)}([function(e,t){"use strict";Object.defineProperty(t,"__esModule",{value:!0});var i=window;t["default"]=i.flex=function(e,t){var a=e||100,n=t||1,r=i.document,o=navigator.userAgent,d=o.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i),l=o.match(/U3\/((\d+|\.){5,})/i),c=l&&parseInt(l[1].split(".").join(""),10)>=80,p=navigator.appVersion.match(/(iphone|ipad|ipod)/gi),s=i.devicePixelRatio||1;p||d&&d[1]>534||c||(s=1);var u=1/s,m=r.querySelector('meta[name="viewport"]');m||(m=r.createElement("meta"),m.setAttribute("name","viewport"),r.head.appendChild(m)),m.setAttribute("content","width=device-width,user-scalable=no,initial-scale="+u+",maximum-scale="+u+",minimum-scale="+u),r.documentElement.style.fontSize=a/2*s*n+"px,viewport-fit=cover"},e.exports=t["default"]}]);
      flex(100, 1);
      document.documentElement.setAttribute('data-scale', true);
    </script>
    {% else %}
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover" />
    {% endif %}
    <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
    <script>
      if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body);
        }, false);
      }
      window.PromiseRejectionEvent = function () {};
      if (!window.Intl) {
        document.writeln('<script src="https://as.alipayobjects.com/g/component/intl/1.0.1/??Intl.js,locale-data/jsonp/en.js,locale-data/jsonp/zh.js">' + '<' + '/script>');
      }
    </script>
    <link rel="icon" href="https://zos.alipayobjects.com/rmsportal/wIjMDnsrDoPPcIV.png" type="image/x-icon">
    {% if not isDev %}
    <link rel="stylesheet" type="text/css" href="{{ root }}kitchen-sink.css"/>
    {% endif %}
    <title>支付宝移动组件库</title>
  </head>
  <body>
    <div id="react-content"></div>
    {% if isDev %}
    {% else %}
      {% if useReact %}
        <script src="https://as.alipayobjects.com/g/component/??react/15.6.1/react.min.js,react/15.6.1/react-dom.min.js"></script>
      {% else %}
        <script src="https://unpkg.com/preact@8.2.6/dist/preact.min.js"></script>
      {% endif %}
    {% endif %}
    <!-- history@3.2.1 -->
    <script src="https://os.alipayobjects.com/rmsportal/VnttsLkEQmyLDBBluBQq.js"></script>
    <!-- babel-polyfill@6.20.0 -->
    <script src="https://os.alipayobjects.com/rmsportal/wzWaWInUcXErDyTwvySY.js"></script>
    <script src="{{ root }}common.js"></script>
    <script src="{{ root }}kitchen-sink.js"></script>
  </body>
</html>
