@class-prefix-result: ~'adm-result';

.@{class-prefix-result} {
  padding: 32px 12px;
  background-color: var(--adm-color-background);

  &-icon {
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    margin: 0 auto 20px auto;
    padding: 6px;

    .antd-mobile-icon {
      font-size: 52px;
    }
  }

  &-title {
    color: var(--adm-color-text);
    font-size: var(--adm-font-size-10);
    line-height: 1.4;
    text-align: center;
  }

  &-description {
    margin-top: 8px;
    color: var(--adm-color-weak);
    font-size: var(--adm-font-size-main);
    line-height: 1.4;
    text-align: center;
  }
}

.@{class-prefix-result}-success {
  .@{class-prefix-result}-icon {
    .antd-mobile-icon {
      color: var(--adm-color-primary);
    }
  }
}

.@{class-prefix-result}-error {
  .@{class-prefix-result}-icon {
    .antd-mobile-icon {
      color: var(--adm-color-danger);
    }
  }
}

.@{class-prefix-result}-info {
  .@{class-prefix-result}-icon {
    .antd-mobile-icon {
      color: var(--adm-color-primary);
    }
  }
}

.@{class-prefix-result}-waiting {
  .@{class-prefix-result}-icon {
    .antd-mobile-icon {
      color: var(--adm-color-success);
    }
  }
}

.@{class-prefix-result}-warning {
  .@{class-prefix-result}-icon {
    .antd-mobile-icon {
      color: var(--adm-color-warning);
    }
  }
}
