.am-demo-page {
  background-color: #fbfbfb;
  -webkit-overflow-scrolling: touch;
  .am-demo-hd {
    padding: 2rem 0;
    color: #0ae;
    .logo {
      width: 120px;
      height: 120px;
      margin: 0 auto;
      background-size: 120px 120px;
    }
    .am-demo-title,
    .am-demo-subtitle {
      text-align: center;
    }
    .am-demo-title {
      font-size: 34px;
      font-weight: normal;
    }

    .am-demo-subtitle {
      font-size: 14px;
      color: #888;
      font-weight: normal;
    }
  }
  .am-demo-bd {
    .antm-demo-flex {
      background: #fff;
      //border-top: 1px solid #d9d9d9;
      //border-bottom: 1px solid #d9d9d9;
      .am-flexbox-item {
        margin-left: 0;
      }
    }
  }
}

.hide {
  display: none!important;
}
.show {
  display: block!important;
}
.demo-preview-item {
  padding-top: 43px;

  * {
    box-sizing: content-box;
  }
}
.demo-preview-item-custom {
  padding-top: 0;  
}

html, body {
  font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB",Helvetica,"Microsoft YaHei",Arial;
}

