*, *:before, *:after {
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, form, fieldset, legend,
input, textarea, p, blockquote, th, td {
    margin:0;
    padding:0;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

fieldset, img {
    border:0;
}

li {
    list-style:none;
}

caption, th {
    text-align:left;
}

q:before,
q:after {
    content:"";
}

input:password {
    ime-mode:disabled;
}

*:focus {
    outline:none;
}


