@import '../../style/mixins';
@import '../../style/variables';

@listPrefixClass: am-list;

.@{listPrefixClass} {
  padding: @margin-7 0 @margin-2 0;
  background-color: @neutral-3;
  & &-header {
    padding: 0 4*@grid 2*@grid 4*@grid;
    font-size: @font-size-4;
    color: @neutral-7;
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
  }
  & &-footer {
    padding: 2*@grid 4*@grid;
    font-size: @font-size-2;
    color: @neutral-7;
    line-height: @line-height-2;
  }
  & &-body {
    position: relative;
    .hairline-top(top, @neutral-5);
    .hairline-bottom(bottom, @neutral-5);
  }
  & &-item {
    position: relative;
    padding: 2.5*@grid 4*@grid;
    min-height: 6*@grid;
    background: @neutral-1;
    vertical-align: middle;
    overflow: hidden;
    .display-box;
    .box-align;
    .transition(background-color 200ms);
    &.@{listPrefixClass}-item-top {
      .box-align(flex-start);
    }
    &.@{listPrefixClass}-item-middle {
      .box-align(center);
    }
    &.@{listPrefixClass}-item-bottom {
      .box-align(flex-end);
    }

    .hairline-bottom(bottom, @neutral-5, @margin-4);
    /*&:last-child {
      .hairline-remove(bottom);
    }*/
    /*list左右图片显示*/
    .@{listPrefixClass}-thumb {
      position: relative;
      &:first-child {
        margin-right: @margin-2;
      }
      &:last-child {
        margin-left: @margin-2;
      }
      img {
        width: @margin-6;
        height: @margin-6;
        vertical-align: middle;
      }
    }
    /*list左侧主内容*/
    .@{listPrefixClass}-content {
      .box-flex(1);
      color: @neutral-10;
      font-size: @font-size-5;
      //font-weight: @line-weight-1;
      line-height: @line-height-2;
      min-width: 60px;
      .ellipsis();
    }
    /*list右补充内容*/
    .@{listPrefixClass}-extra {
      .box-flex(1);
      color: @neutral-8;
      font-size: @font-size-4;
      font-weight: @font-weight-1;
      line-height: @line-height-2;
      min-width: 96px;
      text-align: right;
      .ellipsis();
      .am-list-brief {
        font-size: @font-size-2;
      }
    }
    /*list左侧主内容多行时，摘要*/
    .@{listPrefixClass}-brief {
      color: @neutral-7;
      font-size: @font-size-4;
      line-height: @line-height-2;
      //font-weight: @line-weight-1;
      margin-top: @margin-1;
      .ellipsis();
    }
    /*list右侧箭头*/
    .@{listPrefixClass}-arrow {
      margin-left: 7px;
      margin-right: -2px;
      width: 16px;
      &-horizontal,
      &-vertical {
        display: block;
        width: 16px;
        height: 16px;
        overflow: hidden;
        &:before {
          content: "";
          display: block;
          width: 9px;
          height: 9px;
          margin-left: 0;
          border: solid 1px @neutral-7;
          border-top: 0 none;
          border-left: 0 none;
        }
      }
      &-horizontal {
        &:before {
          margin-top: 2px;
          .transform(rotate(315deg));
        }
      }
      &-vertical {
        &:before {
          margin-left: 2px;
          .transform(rotate(45deg));
        }
      }
      &-vertical-up {
        &:before {
          margin: 4px 0 0 2px;
          .transform(rotate(225deg));
        }
      }
      &-vertical-down {
        &:before {
          margin-left: 2px;
          .transform(rotate(45deg));
        }
      }
    }
  }
}

