
// 色板文件
// 用于给设计师选择颜色

@red-1: #fee8e7;
@red-2: #fdcccb;
@red-3: #fbadaa;
@red-4: #f88b88;
@red-5: #f56863;
@red-6: #f2443e;
@red-7: #ed211a;
@red-8: #ce1812;
@red-9: #a91813;
@red-10: #881714;

@yellow-1: #fef5e1;
@yellow-2: #fee8bb;
@yellow-3: #feda92;
@yellow-4: #fecc68;
@yellow-5: #fcbd3d;
@yellow-6: #FAAE14;
@yellow-7: #DF9706;
@yellow-8: #B77D09;
@yellow-9: #94670B;
@yellow-10: #77540D;

@green-1: #EDFBE7;
@green-2: #CEF2C0;
@green-3: #B3E69E;
@green-4: #99D97F;
@green-5: #81CC62;
@green-6: #6ABF47;
@green-7: #5BA63C;
@green-8: #4E8B35;
@green-9: #437230;
@green-10: #395B2B;

@blue-1: #E4F6FE;
@blue-2: #C2EBFD;
@blue-3: #9EDFFC;
@blue-4: #79D2FA;
@blue-5: #53C4F8;
@blue-6: #2DB7F5;
@blue-7: #0EA6EB;
@blue-8: #0F8BC2;
@blue-9: #10709B;
@blue-10: #115777;

@orange-1: #FEEFE8;
@orange-2: #FED3BF;
@orange-3: #FDBB99;
@orange-4: #FEA477;
@orange-5: #FE8E57;
@orange-6: #FE7A38;
@orange-7: #FD661B;
@orange-8: #F55404;
@orange-9: #D04B09;
@orange-10: #A8410D;