@import './themes/default';
@import './anim';

*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  user-select: none;
}

*:focus {
  outline: none;
}

a {
  color: @brand-primary;
  background: transparent;
  text-decoration: none;
  outline: none;
  transition: color .3s ease;
  &:active,
  &:hover {
    color: @brand-primary-tap;
  }
}
