@pink-1: #000;
@pink-2: #000;
@pink-3: #000;
@pink-4: #000;
@pink-5: #000;
@pink-6: #000;
@pink-7: #000;
@pink-8: #000;
@pink-9: #000;
@pink-10: #000;

@red-1: #fee8e7;
@red-2: #fdcccb;
@red-3: #fbadaa;
@red-4: #f88b88;
@red-5: #f56863;
@red-6: #f2443e;
@red-7: #ed211a;
@red-8: #ce1812;
@red-9: #a91813;
@red-10: #881714;

@yellow-1: #fef5e1;
@yellow-2: #fee8bb;
@yellow-3: #feda92;
@yellow-4: #fecc68;
@yellow-5: #fcbd3d;
@yellow-6: #FAAE14;
@yellow-7: #DF9706;
@yellow-8: #B77D09;
@yellow-9: #94670B;
@yellow-10: #77540D;

@green-1: #EDFBE7;
@green-2: #CEF2C0;
@green-3: #B3E69E;
@green-4: #99D97F;
@green-5: #81CC62;
@green-6: #6ABF47;
@green-7: #5BA63C;
@green-8: #4E8B35;
@green-9: #437230;
@green-10: #395B2B;

@emerald-1: #000;
@emerald-2: #000;
@emerald-3: #000;
@emerald-4: #000;
@emerald-5: #000;
@emerald-6: #000;
@emerald-7: #000;
@emerald-8: #000;
@emerald-9: #000;
@emerald-10: #000;

@blue-1: #E4F6FE;
@blue-2: #C2EBFD;
@blue-3: #9EDFFC;
@blue-4: #79D2FA;
@blue-5: #53C4F8;
@blue-6: #2DB7F5;
@blue-7: #0EA6EB;
@blue-8: #0F8BC2;
@blue-9: #10709B;
@blue-10: #115777;

@orange-1: #FEEFE8;
@orange-2: #FED3BF;
@orange-3: #FDBB99;
@orange-4: #FEA477;
@orange-5: #FE8E57;
@orange-6: #FE7A38;
@orange-7: #FD661B;
@orange-8: #F55404;
@orange-9: #D04B09;
@orange-10: #A8410D;

@purple-1: #000;
@purple-2: #000;
@purple-3: #000;
@purple-4: #000;
@purple-5: #000;
@purple-6: #000;
@purple-7: #000;
@purple-8: #000;
@purple-9: #000;
@purple-10: #000;

//中性色版(neutral)
@neutral-1: #fff;
@neutral-2: #f7f7f7;
@neutral-3: #efefef;
@neutral-4: #e9e9e9;
@neutral-5: #d9d9d9;
@neutral-6: #ccc;
@neutral-7: #999;
@neutral-8: #666;
@neutral-9: #404040;
@neutral-10: #222;

//中性色版(gray)
@gray-1: #000;
@gray-2: #666;
@gray-4: #666;
@gray-5: #d9d9d9;
@gray-8: #666;

//品牌色（brand）
@brand-1: @blue-1;
@brand-2: @blue-2;
@brand-3: @blue-3;
@brand-4: @blue-4;
@brand-5: @blue-5;
@brand-6: @blue-6;
@brand-7: @blue-7;
@brand-8: @blue-8;
@brand-9: @blue-9;
@brand-10: @blue-10;

//功能色（function）
@function-error-1: @orange-1;
@function-error-2: @orange-6;

@function-success-1: @green-1;
@function-success-2: @green-6;

@function-warning-1: @yellow-1;
@function-warning-2: @yellow-6;

@function-link-1: @blue-6;

//间距（margin）
@margin-1: 4px;
@margin-2: 8px;
@margin-3: 12px;
@margin-4: 16px;
@margin-5: 24px;
@margin-6: 28px;
@margin-7: 32px;
@margin-8: 40px;
@margin-9: 44px;

//字体家族，可拓展
@font-family-1: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@font-family-2: Consolas,Menlo,Courier,monospace;

//字号，可拓展
@font-size-1: 10px;
@font-size-2: 12px;
@font-size-3: 13px;
@font-size-4: 14px;
@font-size-5: 16px;
@font-size-6: 18px;
@font-size-7: 20px;

//最小单位
@grid: 4px;

//行高，可拓展，行高值的单位可以是em也可以是dp
@line-height-1: 1em;
@line-height-2: 1.5em;

//字重，可拓展
@font-weight-1:normal;
@font-weight-2:bold;

//字体风格，可拓展


//圆角边框 (radius)
@radius-1: 4px;
@radius-2: 6px;

//线条粗细，可拓展
@border-width-1: 1px;
@border-width-2: 2px;

@border-thickness-1: 1px;
@border-thickness-2: 2px;

//线条类型
@border-type-1: solid;
@border-type-2: dashed;

// Shadow
@shadow-color           : rgba(100, 100, 100, .2);
@box-shadow-base        : @shadow-1-down;
@shadow-1-up            : 0 -1px 6px @shadow-color;
@shadow-1-down          : 0 1px 6px @shadow-color;
@shadow-1-left          : -1px 0 6px @shadow-color;
@shadow-1-right         : 1px 0 6px @shadow-color;
@shadow-2               : 0 1px 8px @shadow-color;

//阴影 (shadow);
//常用尺寸size，可拓展
/*
@shadow-alpha: 20%;
@shadow-color: @gray-1;
@shadow-blur-1: 0;
@shadow-blur-2: 4px;
@shadow-blur-3: 8px;
*/

//常用阴影
/*
@shadow-1-down : @shadow-color @shadow-alpha (x: 0 y: -1 blur: @shadow-blur-1);
@shadow-1-up: @shadow-color @shadow-alpha (x: 0 y: 1 blur: @shadow-blur-1);
@shadow-1-left:@shadow-color @shadow-alpha (x: 1 y: 0 blur: @shadow-blur-1);
@shadow-1-right:@shadow-color @shadow-alpha (x: -1 y: 0 blur: @shadow-blur-1);
@shadow-2-down : @shadow-color @shadow-alpha (x: 0 y: -1 blur: @shadow-blur-2);
@shadow-2-up:@shadow-color @shadow-alpha (x: 0 y: 1 blur: @shadow-blur-2);
@shadow-2-left:@shadow-color @shadow-alpha (x: 1 y: 0 blur: @shadow-blur-2);
@shadow-2-right:@shadow-color @shadow-alpha (x: -1 y:0 blur: @shadow-blur-2);
@shadow-3-down : @shadow-color @shadow-alpha (x: 0 y: -2 blur : @shadow-blur-3);
@shadow-3-up:@shadow-color 20% (x: 0 y: 1 blur: @shadow-blur-3);
@shadow-3-left:@shadow-color 20% (x: 1 y: 0 blur: @shadow-blur-3);
@shadow-3-right:@shadow-color 20% (x: -1 y: 0 blur: @shadow-blur-3);
*/

//动效 Animation
@ease-out : cubic-bezier(0.215, 0.61, 0.355, 1);
@ease-in : cubic-bezier(0.55, 0.055, 0.675, 0.19);
@ease-in-out : cubic-bezier(0.645, 0.045, 0.355, 1);
@ease-out-back : cubic-bezier(0.18, 0.89, 0.32, 1.28);
@ease-in-back : cubic-bezier(0.6, -0.3, 0.74, 0.05);
@ease-in-out-back : cubic-bezier(0.68, -0.55, 0.27, 1.55);
@ease-out-circ : cubic-bezier(0.08, 0.82, 0.17, 1);
@ease-in-circ : cubic-bezier(0.6, 0.04, 0.98, 0.34);
@ease-in-out-circ : cubic-bezier(0.78, 0.14, 0.15, 0.86);
@ease-out-quint : cubic-bezier(0.23, 1, 0.32, 1);
@ease-in-quint : cubic-bezier(0.755, 0.05, 0.855, 0.06);
@ease-in-out-quint : cubic-bezier(0.86, 0, 0.07, 1);
