@import './color-palette';

// 中性色版(neutral)
@neutral-1: #000;
@neutral-2: #000;  // 灰背景色
@neutral-3: #000;
@neutral-4: #000;  // 边框分割线色
@neutral-5: #000;  // 边框线色
@neutral-6: #000;     // 失效背景色
@neutral-7: #000;     // 辅助文字
@neutral-8: #000;     // 文字色
@neutral-9: #000;  // 标题色
@neutral-10: #000;
@neutral-11: #000;

// 品牌色（brand）
@brand-1: #000;
@brand-2: #000;
@brand-3: #000;
@brand-4: #000;
@brand-5: #000;
@brand-6: #000;    // 主品牌色
@brand-7: #000;    // 触发/按下色
@brand-8: #000;
@brand-9: #000;
@brand-10: #000;

// 功能色（function）
@function-error-1: #000;  // 出错 浅底色
@function-error-2: #000;  // 出错色

@function-success-1: #000;  // 成功 浅底色
@function-success-2: #000;  // 成功色

@function-warning-1: #000;  // 警告 浅底色
@function-warning-2: #000;  // 警告色

@function-link-1: #000;  // 链接色

// 字号，可拓展
@font-size-1: 1px;
@font-size-2: 1px;
@font-size-3: 1px;
@font-size-4: 1px;
@font-size-5: 1px;
@font-size-6: 1px;
@font-size-7: 1px;

// 最小单位
@grid: 0px;

// 行高，可拓展，行高值的单位可以是em也可以是dp
@line-height-1: 10em;
@line-height-2: 10em;

// 圆角边框 (radius)
@radius-1: 0;
@radius-2: 0;

// Shadow
@shadow-color           : rgba(100, 100, 100, .2);
@shadow-1-right         : 1px 0 1px @shadow-color;
