.@{PopupPrefixCls} {
  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: @fill-mask;
    height: 100%;
    z-index: @popup-zindex;

    &-hidden {
      display: none;
    }
  }
  // 隐藏掉 dialog 默认的 x 按钮
  &-close {
    display: none;
  }
}
