* {
  cursor: url('http://gtms02.alicdn.com/tps/i2/T1_PMSFLBaXXcu5FDa-20-20.png') 10 10,pointer !important;
}

html, body {
  height: 100%;
  background-color: #f5f5f9;
}
// unify the setting of elements's margin and padding for browsers
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  margin: 0;
  padding: 0;
}
body {
  -webkit-overflow-scrolling: touch;
  line-height: 1.5;
  color: #666;
  font-size: 28px;
}

// Reset fonts for relevant elements
button,input,select,textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  color: #108ee9;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

#react-content{
  height: 100%;
}
