.am-demo-item {
  &-inner {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }
  &-logo {
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
    margin: 0 auto 10px auto;
  }
  &-title,
  &-subtitle {
    color: #333;
    height: 40px;
    line-height: 40px;
    font-size: 26px;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 20px;
  }
}
