#react-content{
  height: 100%;
}
#react-content > div {
  height: 100%;
  display: flex;
  flex-direction: column;   
}
.am-demo-item {
  &-inner {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }
  &-logo {
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
    margin: 0 auto 10px auto;
  }
  &-title,
  &-subtitle {
    color: #333;
    height: 40px;
    line-height: 40px;
    font-size: 26px;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 20px;
  }
}

.demo-drawer-trigger {
  height: 88px;
  background-color: #f5f5f9;
  border-bottom: 1px solid #d9d9d9;
  span {
    font-size: 44px;
    padding: 32px;
    line-height: 88px;
    color: #999;
  }
  span:active {
    background-color: #ddd; 
    color: #108ee9;
  }
}
.demo-drawer-container {
  position: relative;
  background-color: #f5f5f9;
  flex: 1;
  .am-drawer-sidebar {
    max-width: 520px;
    background-color: #fff;
    z-index: 1000;
  }
  .am-drawer-sidebar .am-list {
    padding: 0;
    width: 450px;
    .am-list-item .am-list-line .am-list-content a{
      font-size: 28px;
      color: #404040;
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .demo-drawer-home {
    padding: 32px;
    border-bottom: 1px solid #d9d9d9;
    a {
      color: #404040;
    }
  }
}
