.am-demo-page {
  background-color: #fbfbfb;
  -webkit-overflow-scrolling: touch;
  .am-demo-hd {
    padding: 2rem 0;
    color: #108ee9;
    .logo {
      width: 240px;
      height: 240px;
      margin: 0 auto;
      background-size: 240px 240px;
    }
    .am-demo-title,
    .am-demo-subtitle {
      text-align: center;
    }
    .am-demo-title {
      font-size: 68px;
      font-weight: normal;
    }

    .am-demo-subtitle {
      font-size: 28px;
      color: #888;
      font-weight: normal;
    }
  }
  .am-demo-bd {
    .antm-demo-flex {
      background: #fff;
      .am-flexbox-item {
        margin-left: 0;
      }
    }
  }
}

.hide {
  display: none!important;
}
.show {
  display: block!important;
}
.demo-preview-item {
  padding-top: 86px;
  * {
    box-sizing: content-box;
  }

  .am-checkbox * {
    box-sizing: border-box;
  }
  .am-checkbox-agree,
  .am-checkbox-agree * {
    box-sizing: border-box;
  }
}

html, body {
  font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB",Helvetica,"Microsoft YaHei",Arial;
}

.nav-arrow-down {
  transform: scale(0.6);
}
